body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c2f7bd;
    font-family: Helvetica;
}

#main-container {
    max-width: 1050px;
    display: flex;
    margin: 10px 0px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 7px solid #27b46e;
    background-color: #4EE68A;
    border-radius: 7px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #1c2419;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

img {
    max-width: 500px;
    margin: 10px 0px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

input[type="button"] {
    font-size: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-style: italic;
    color: #1c2419;
}

.giphy-embed {
    display: none;
    margin: 10px 0px;
    border-radius: 50px;
}

@media (max-width: 767px) {
    #main-container {
        max-width: 350px;
    }

    img {
        max-width: 300px;
    }
    
    .giphy-embed {
        display: flex;
        max-width: 350px;
    }
}

@media (max-width: 320px) {
    #main-container {
        max-width: 250px;
    }

    img {
        max-width: 200px;
    }
    
    .giphy-embed {
        display: flex;
        max-width: 250px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #main-container {
        max-width: 750px;
    }

    img {
        max-width: 500px;
    }

    input[type="button"] {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    /* .giphy-embed {
        display: flex;
        max-width: 350px;
    } */
}